## core packages for jupyter notebook
jupyter-core
nbconvert
nbformat
ipykernel

## data reading 
pandas
pandasql-lts
numpy
matplotlib
# postgresql driver, an installed postgresql is required
psycopg2-binary


## buildin models
xgboost
scikit-learn
scikit-optimize
tabpfn
# GRANDE  # deactivate grande to use tf models 

# data structure packages
sortedcontainers

# notebook as function 
functionize-notebook

# DL
tensorflow
tf-models-official==2.17.0

# explain 
shap